@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: montserrat;
}

body {
    background-color:#181D31;
}


/*------------------------------------------------------------------------ */


nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}
.logo-principal {
    color: #EEEEEE;
    text-decoration: none;
}


/*---ANIACION LOGO--------------------------------------------------------------------- */

.compubeige{
    animation-name: mover1;
    animation-timing-function: cubic-bezier(.27,.16,.44,.32);
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes mover1 {
    from {
    transform: translate(0,-20px);
    opacity:0;}
    to {
    transform: translate(0,0px);
    opacity:1;}
}
.compuazul{
    animation-name: mover2;
    animation-timing-function: cubic-bezier(.67,.02,.76,.33);
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes mover2 {
    from {
    transform: translate(0,-20px);
    opacity:0;}
    to {
    transform: translate(0,0px);
    opacity:1;}
}
.brillo{
    animation-name: mover3;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
@keyframes mover3 {
    0% {
    transform: translate(-5px,0px);
    opacity:0;}
    50% {
    transform: translate(-5px,0px);
    opacity:0;}
    75% {
    transform: translate(-5px,0px);
    opacity:0;}
    100% {
    transform: translate(0px,0px);
    opacity:1;}
}


/*-------------------------------------------------------------------------------------- */


.contenedor-botones {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.boton-menu{
    background-color: #E6DDC4;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px #678983;
    text-align: center;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.boton-menu:active{
    transform: translate(3px, 2px);
    box-shadow:0px 0px;
}




/*------------------------------------------------------------------------ */


header {
    background-image: url(./imagenes/imagen_fondo_codigo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto-principal {
    font-size: 55px;
    font-weight: bold;
    color: #EEEEEE;
    text-align: center;
    text-shadow: #181D31 5px 5px 3px;
}


/*------------------------------------------------------------------------ */



H2 {
    color: #678983;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
    text-shadow: 2px 2px black;
}


/*------------------------------------------------------------------------ */


main {
    margin: 80px 0px 150px 0px;
}
.contenedor-padre-inicio {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}
.tarjeta {
    background-color: beige;
    border: 5px solid #678983;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.imagen-tarjeta {
    width: 100%;
}
.boton-ir {
    background-color: #181D31;
    border-radius: 10px;
    box-shadow: 3px 3px #678983;
    font-family: Helvetica;
    text-decoration: none;
    text-align: center;
    color: #EEEEEE;
    padding: 10px;
    margin-bottom: 30px;
    width: 40%;
}
.parrafo-tarjeta {
    text-align: center;
}
.boton-ir:active{
    transform: translate(3px, 2px);
    box-shadow:0px 0px;
}




/*------------------------------------------------------------------------ */



.contenedor-padre-hist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.contenedor-hijo-hist {
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;
}
.parrafo-general {
    color: #E6DDC4;
    width: 60%;
    font-weight:600;
    margin: 0px;
}



/*video------------------------------------------------------------------------ */


.video-historia{
    width: 100%;
}
.contenedor-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja-video {
    padding: 5px;
    background-color: black;
    width: 70%;
    margin: 30px 0px;
}
.barra-controles {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px; 
    gap: 20px;
}
.botonera-video {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#boton-play,#boton-pause {
    background-color: #E6DDC4;
    border-radius: 10px;
    border: solid #181D31;
    box-shadow: 3px 3px #678983;
    width: 80px;
    height: 40px;
}
#boton-play:active{
    transform: translate(3px, 2px);
    box-shadow:0px 0px;
}
#boton-pause:active{
    transform: translate(3px, 2px);
    box-shadow:0px 0px;
}
#tiempo-video {
    color: #EEEEEE;
}



/*---JUEGO-------------------------------------------------------------- */

.contenedor-juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.contenedor-cajas {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 50px;
}
.caja-tarjeta {
    background-color: grey;
    width: 275px;
    height: 400px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caja-tarjeta:hover{
    background-color: black;
}
.parrafo-juego {
    color: #E6DDC4;
    width: 60%;
    font-weight:600;
    text-align: center;
}
.contenedor-imag-cajas {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 0px;
    gap: 5px;
}
#imag-cajas1,#imag-cajas2,#imag-cajas3 {
    width: 275px;
    height: 400px;
}

#boton-reiniciar {
    background-color: #E6DDC4;
    border-radius: 10px;
    border: solid #181D31;
    box-shadow: 3px 3px #678983;
    text-align: center;
    width: 250px;
    height: 40px;
}
#boton-reiniciar:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px;
}


/*------------------------------------------------------------------------ */


footer {
    background-color: #678983;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.logo-izquierda-pie {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.diagrama-logo-pie {
    height: 100%;
}
.descriptor-logo {
    color: #181D31;
}
.info-firma-pie {
    color: #181D31;
}